.accordeon {
    display: flex;
    gap: 10px;
}

.accordeon details {
    display: flex;
    width: 100px;
    overflow: hidden;
    transition: 1s;
}

details .elm-parent {
    width: 200px;
}

details[open] {
    width: 300px;
}


.accordeon>details>summary {
    list-style: none;
}

.accordeon>details>summary::marker,
.accordeon>details>summary::-webkit-details-marker {
    display: none;
}
